body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Container for form and render sections */
  .content {
    display: flex;
    flex-direction: row; /* Stack children vertically on smaller screens */
     
  }
  
  /* Form and render sections */
  .form, .render {
    flex: 1; /* Each section takes up equal space */
    padding: 20px;
    margin: 0 10px; /* Add some space between sections */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form{
    max-width: 400px;
  }
  
  /* Personal form */
  .personalform {
    margin-bottom: 20px;
  }
  
  /* Heading styles */
  h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
  }
  
  /* Label styles */
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  /* Input styles */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Button styles */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Additional spacing for educational and experience forms */
  .educationform, .experienceform {
    margin-bottom: 30px;
  }
  
  /* Rendered information card styles */
  .renderPersonalInfo, .renderEducationInfo, .renderExperienceInfo {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Text styles in the rendered cards */
  .renderPersonalInfo p, .renderEducationInfo p, .renderExperienceInfo p {
    margin: 10px 0;
    color: #333;
    line-height: 1.5;
  }